@model IEnumerable<RaoVat.Models.News>
@using System.Globalization;
@if (Model.ToList().Count > 0)
{
    foreach (var item in Model)
    {
        <div class="grid__column-2">
            <div class="home-product-item">
                <a href="@Url.Action("InfoNews","News",new { IDNews=item.IDNews })" class="home-product-item__link">
                    <img src="@item.Image" class="home-product-item__img" />
                    <h4 class="home-product-item__name">@item.Name</h4>
                </a>
                <div class="home-product-item__price">
                    @{ CultureInfo culture = new CultureInfo("vi-VN");
                        var price = String.Format(culture, "{0:N0}", item.Price);
                    }
                    <span class="home-product-item__price-current">@price VNĐ</span>
                    @{Html.RenderAction("WishList", "Home", new { IDNews = item.IDNews });}
                </div>
                <div class="home-product-item__footer">
                    <img src="@item.Users.Image" alt="" class="home-product-item__footer-img">
                    <span class="home-product-item__footer-location">@item.Address</span>
                </div>
            </div>
        </div>

    }

}
