@model IEnumerable<RaoVat.Models.News>
@using System.Globalization

<h1 class="info__user-news-header">
    Tin Đăng -
    <span class="info__user-news-subheader">@Model.ToList().Count Tin</span>
</h1>
<div class="info__user-news-detail">
    @if (Model.ToList().Count == 0)
    {
        <div class="info__user-news-nothing">
            <img src="~/Asset/img/binoculars.PNG" alt="" class="info__user-news-nothing-img">
            <div class="info__user-news-nothing-text">Bạn chưa có tin đăng cá nhân nào đang bán, thử đăng bán ngay.</div>
        </div>
    }
    else
    {
        <div class="info__user-news-havenews">
            <ul class="news__havenews-list">
                @foreach (var item in Model)
                {
                    <li class="news__havenews-item">
                        <a href="@Url.Action("Editnews","UserProfile",new { IDNews=item.IDNews })" class="news__havenews-link">
                            <div class="news__havenews-border-img">
                                <img src="@Url.Content(item.Image)" alt="" class="news__havenews-img">
                            </div>
                            <div class="news__havenews-info">
                                <div class="news__havenews-name">@item.Name</div>
                                @{
                                    CultureInfo culture = new CultureInfo("vi-VN");
                                    var price = String.Format(culture, "{0:N0}", item.Price);
                                }
                                <div class="news__havenews-price">@price vnđ</div>
                            </div>
                        </a>
                        <div class="news__havenews-subinfo" style="display:flex;justify-content:space-between;align-items:center">
                            <div style="display: inline-block;">
                                @if (item.Type == true)
                                {
                                    <span class="news__havenews-subinfo-text">
                                        <i class="fas fa-store icon-news-store"></i>
                                        Cửa hàng
                                    </span>
                                }
                                else
                                {
                                    <span class="news__havenews-subinfo-text">
                                        <i class="fas fa-user icon-news-store"></i>
                                        Cá Nhân
                                    </span>
                                }
                                <i style="border-right: 1px solid var(--border--color);  margin:0px 4px ;"></i>
                                <span class="news__havenews-subinfo-text">@item.Time</span>
                            </div>
                            <a class="btn btn-primary delete-news-btn" style="text-decoration:none;background-color:red;line-height:1.6;" onclick="DeteleNews(this)" value="@item.IDNews">Xóa Tin Rao</a>
                        </div>

                    </li>
                }
            </ul>
        </div>
    }
    <div style="margin: 0 auto; width: 40%; text-align: center; padding:32px;">
        <a class="info__user-news-btn btn public-news" style="text-decoration:none" href="@Url.Action("createOfNews","UserProfile")">Đăng Tin</a>
    </div>
</div>

