@model RaoVat.Models.ResetPassWord
@{
    ViewBag.Title = "ResetPassWord";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="grid">
<content class="content__login">
    <div class="auth-form">
        <div class="auth-form__container">
            @using (Html.BeginForm("ResetPassWordComfirm", "UserLogin", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.HiddenFor(model => model.IDUser);
                <div style="margin-top:16px;">
                    <div>
                        @if (ViewBag.success != null)
                        {
                            <div class="message-success" id="after" style="opacity:1;">
                                <strong><span class="glyphicon glyphicon-ok"></span>Thay Đổi Mật Khẩu Thành Công</strong>
                            </div>
                        }
                        else
                        {
                            <div class="message-error" id="previous" style="opacity:1;">
                                <strong>Nhập Lại Mật Khẩu</strong>
                            </div>
                        }
                    </div>
                </div>
                @Html.AntiForgeryToken()

                <div class="auth-form__header">
                    <h1 class="auth-form__header-text">Thay Đổi Mật Khẩu</h1>
                </div>
                <div class="auth-form__form">
                    @Html.PasswordFor(model => model.PassWord, new { @class = "auth-form__form-input", @placeholder = "Mật Khẩu mới của bạn" })
                    @Html.ValidationMessageFor(model => model.PassWord, "", new { @style = "color:red" })
                    @Html.PasswordFor(model => model.ComfirmPassWord, new { @class = "auth-form__form-input", @placeholder = "Nhập lại mật khẩu mới của bạn" })
                    @Html.ValidationMessageFor(model => model.PassWord, "", new { @style = "color:red" })
                </div>
                <div class="auth-form__controls">
                    <button class="auth-form__controls-btn btn btn-primary" type="submit">Xác Nhận</button>
                </div>
            }
        </div>
    </div>
</content>


</div>






